/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;

}


.mat-menu-panel {
  width: 500px;
  margin-right: 30px;
  max-width: 75vw!important;
  max-height: 50vh !important;
  overflow-y: scroll !important;
}

.mat-card {
  margin: 5px;
  border-radius: 0 !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}